/* RESET & BASIC STYLING*/
* {
    margin: 0rem;
    padding: 0rem;
}

.mainFrame {
    margin: 0rem 1rem;
    background-color: white;
}

/*TYPOGRAPHY*/
h1,
h2,
h3 {
    font-family: "reiher-headline", sans-serif;
    font-style: normal;
}

/*Font weight for different headings*/
h1,
h2,
h3 {
    font-family: "reiher-headline", sans-serif;
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    font-weight: 500;
    font-size: 1.333rem;
}

p,
ul {
    font-family: "baga", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

/*STYLING*/

/*Header & Footer*/
.header {
    background-color: #11b525;
    align-items: center;
    padding: 1.333rem 1rem 1.333rem;

    /*Format the header*/
    display: flex;
    flex-direction: row;
}

.footer {
    background-color: #11b525;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    align-items: flex-start;
}

/*LAYOUT*/
.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1rem;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ToC {
    background-color: #cff6ba;
    border-radius: 1rem;
}

/*COMPONENTS*/

.card {
    background-color: #cff6ba;
    padding: 2rem;
    border-radius: 1rem;
}

.nav {
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: white;
}

/* ToC styling */
.ToC h2 {
    padding: 1rem;
}

#ToC {
    padding: 1rem;
}

#ToC li {
    background-color: #77cb4a;
    border-radius: 0.75rem;
    padding: 0.5rem;
    margin: 1rem 0;
}


/*IMAGES*/

.url_img {
    width: 100%;
}

.url_img_2 {
    border-radius: 1rem;
}

.dns_img {
    border-radius: 1rem;
    width: 525px;
}

.types_img {
    width: 100%;
    border: solid;
    border-color: #11b525;
    border-radius: 1rem;
}

.web_comp{
    width: 100%;
    max-width: 800px;
}

/*Style the link*/
#link {
    color: black;
    font-size: 1.250rem;
}

/*Add hover effect*/
.footer #link:hover {
    color: white;
}

/*Role page*/
.HOW {
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0rem;
    border-radius: 1rem;
}

/*Anatomy and History*/

/*Give the diagram some space around*/
.diagram {
    margin: 0.5rem;
}

/*Types of URLs page*/
table,
tr,
th,
td {
    border: solid;
    border-color: black;
    border-width: 0.1rem;
}

table {
    border-collapse: collapse;
}

.type_table {
    background-color: #cff6ba;
    padding: 2rem;
    border-radius: 1rem;
    border-collapse: collapse;
}

.type_table h2 {
    padding-bottom: 1rem;
}

.url_types {
    display: flex;
    align-self: flex-start;
}

#one {
    grid-column: 1;
}

#two {
    grid-column: 2;
}

td {
    align-self: flex-start;
}

/*Style my tables*/
.url_types th,
.url_types td {
    padding: 0.5rem;
}

/*Style the list */
#table_ul {
    list-style: circle;
    padding: 1rem;
}

/*remove the bottom margin from the bottom cards*/
#bottom_card {
    margin: 0rem;
}

/*References Page*/
.ref_title {
    grid-column: span 2;
    background-color: #90d06e;
    border-radius: 1rem;
    padding: 1rem;
}

.references {
    grid-row: 2;
    grid-column: span 2;
    padding: 0rem 4rem;
    background-color: #cff6ba;
    border-radius: 1rem;
    padding: 2rem;
}

/*Quiz Page*/

#quiz div {
    border: solid;
    border-color: #11b525;
    border-radius: 2.5rem;
    padding: 1rem;
    margin: 1rem;
}

.questions_space label {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    gap: 1rem;
    /* prevents full-width clickable area */
    width: fit-content;
}

#submit,
#reset {
    display: block;
    margin: 1rem 0rem;
    width: 100%;

    background-color: #11b525;
    padding: 0.5rem;
}

#result {
    display: none;
    flex-direction: column;
    padding: 1rem;
}

#results {
    border: solid;
    border-color: #11b525;
    border-radius: 2.5rem;
    padding: 1rem;
    margin: 1rem;

    display: flex;
    flex-direction: column;
}

.score_announcement {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1.5rem;
    gap: 2rem;
}

@media screen and (max-width: 1024px) {

    /*make the margin around the URL image smaller*/
    .url_img {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .card {
        margin: 0rem;
    }

}